body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}

#login {
  background-image: url(./img/55867.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 105vh;
  /* z-index: -10; */
}

#login-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  /* top: 0;
  bottom: 0; */
  height: 100%;
  width: 100%;
  z-index: -5;
}

#login-form {
  margin-top: 11vh;
}

#create-account {
  background-image: url(./img/05_4k.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 105vh;
  /* z-index: -10; */
}

#back-login {
  margin-left: 15vh;
}

#create-form {
  margin-left: 7vh;
  margin-top : 5vh;
}

#create-title {
  margin-left: 7vh;
  margin-top: 5vh;
  font-weight: bold;
}

#profile {
  background-image: url(./img/55891.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 105vh;
}

#welcome {
  margin-left: 3vh;
  margin-bottom: 3vh;
}

#item-feed{
  margin-top: 10vh;
}

#stat-table{
  margin-left: 3vh;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

#equipment {
  background-image: url(./img/12_4k.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -2vh;
  bottom: 0;
  height: 105vh;
  overflow-y: scroll;
  /* z-index: -10; */
}

#friends {
  background-image: url(http://hdqwalls.com/wallpapers/destiny-2-osiris-avenement-m3.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -2vh;
  bottom: 0;
  height: 103vh;
  overflow-y: scroll;
  /* z-index: -10; */
}

#filter {
  margin-top: 0vh;
}

#tab {
  margin-top: 3vh;
  margin-left: 3vh;
  margin-right: 3vh;
}

#loading{
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

#friend-col-1{
  left: 3vh;
}

#friend-col-2{
  left: 4vh;
}

#toggle-friend-button{

}


.gif_player img {
display: block;
width: 40em;
height: 30em;
margin-left: auto;
margin-right: auto;
}
